body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
  }
  
  h1, h2, h3 {
    margin: 0;
    padding: 0;
  }
  
  #continente-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .card {
    flex: 1 0 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .card:hover {
    background-color: #e0e0e0;
  }
  
  .card img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .divisas-container {
    position: relative;
  }
  
  .divisa-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .divisa-item p {
    margin: 0;
  }
  
  .divisa-item input {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .divisa-item button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .divisa-item button:hover {
    background-color: #45a049;
  }
  
  .carrito-container {
    margin-top: 20px;
  }
  
  #carrito {
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 5px;
  }
  
  .boton-volver {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .boton-volver:hover {
    background-color: #45a049;
  }